.input-group {
	margin: 20px 0px;
}

td:first-of-type {
	height: 200px;
	width: 250px;
}

.title {
	text-align: center;
	padding: 10px;
}

    /* WebKit browsers */
input:focus::-webkit-input-placeholder { color:transparent; }

    /* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder { color:transparent; }

    /* Mozilla Firefox 19+ */
input:focus::-moz-placeholder { color:transparent; }

    /* Internet Explorer 10+ */
input:focus:-ms-input-placeholder { color:transparent; }